@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
  background-color: #d6d3d3;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: rgb(88, 88, 88);

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 70px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: "Raleway";
  font-weight: 300;
  
}

p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 1.2em;
}

.centered {
  text-align: center;
  flex-wrap: wrap;
}

a {
  color: #f85c37;
}

a:hover, 
a:focus {
  color: #f85c37;
  text-decoration: none;
  outline: 0;
}

.navbar-collapse.nav a.active
.navbar-collapse.nav a:active
.navbar-collapse.nav a:focus {
  text-decoration: underline white;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

/*#the_div_2 {
  display: none
}
#the_div_3 {
  display: none
}
#the_div_4 {
  display: none
}
#the_div_5 {
  display: none
}*/






.row-centered .col-lg-12 > button {
  width: 80px;
  height: 40px;
  background-color: #a39e9e;
  border-radius: 10px;
  margin-top: 20px;
  color: whitesmoke;
  outline: none;
}

.row-centered .col-lg-12 > button:focus {
  overflow: hidden;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; 
}

.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px; 
} 

.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d; 
}  

.navbar-inverse .navbar-brand {
  color: #979393;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

#header {
  background: url(../img/main-font.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  height: 100vh;
  color: rgb(252, 244, 244);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header h1 {
  margin-top: 100px;
  color:white;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 3px;
}

#header h2 {
  color:white;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content input {
  border: 0;
  border-bottom: 4px solid gray;
  border-radius: 10px;
  height: 35px;
  margin: 5px 0px 20px 0px;
  padding: 5px;
  text-align: center;
  color: #2d2d2d;
}

.content input:focus,
.content input:hover {
  outline: none;
  border-bottom: 4px solid rgb(8, 168, 48);
}

.content textarea {
  border: 0;
  border-bottom: 5px solid gray;
  border-radius: 10px;
  width: 330px;
  height: 70px;
  margin: 10px;
  padding: 5px;
  resize: none;
  text-align: center;
  color: #2d2d2d;
}
.content textarea:focus, 
.content textarea:hover {
  outline: none;
  border-bottom: 5px solid rgb(8, 168, 48);
}

#footer {
  background: #2d2d2d;
  padding-top: 30px;
  padding-bottom: 20px; 
  text-align: center;
}
#footer i {
  color: #bdbdbd;
  font-size: 30px;
  padding: 20px;
}
#footer i:hover {
  color: #f85c37;
} 







