@import url("https://fonts.googleapis.com/css?family=Lato|Raleway");
@import url("https://fonts.googleapis.com/css?family=Muli");
@import url('https://fonts.googleapis.com/css?family=Heebo');

body {
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: rgb(88, 88, 88);

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

p {
  line-height: 20px;
  margin-bottom: 15px;
  font-size: 1em;
}

.centered {
  text-align: center;
  flex-wrap: wrap;
}

ul li a .toggles {
 margin-left: 20px;
}

a:hover,
a:focus {
  color: #f85c37;
  text-decoration: none;
  outline: 0;
}

.navbar-collapse.nav
  a.active
  .navbar-collapse.nav
  a:active
  .navbar-collapse.nav
  a:focus {
  text-decoration: underline white;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

/*#the_div_2 {
  display: none
}
#the_div_3 {
  display: none
}
#the_div_4 {
  display: none
}
#the_div_5 {
  display: none
}*/

.row-centered .col-lg-12 > button {
  width: 80px;
  height: 40px;
  background-color: #a39e9e;
  border-radius: 10px;
  margin-top: 20px;
  color: whitesmoke;
  outline: none;
}

.row-centered .col-lg-12 > button:focus {
  overflow: hidden;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  font-weight: 400;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}

.navbar-inverse .navbar-brand {
  color: #d4cece;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}


#toggles {
  
  width: 45px;
  margin: 16px 30px auto;
  text-align: center;
}
.ios-toggle {
  position: absolute;
  top: -5000px;
  height: 0;
  width: 0;
  opacity: 1;
  border: none;
  outline: none;
}
.checkbox-label {
  display: block;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  line-height: 10px;
  width: 100%;
  height: 10px;
  
  background: white;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  cursor: pointer;
}

.checkbox-label:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 30px;
  text-indent: 40px;
  height: 20px;
  width: 20px;
  background: darkgrey;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  right: auto;
  
  transition: 0.25s ease-in-out;
  outline: none;
  font-family: Helvetica neue;

  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px lightgray;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px lightgray;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px lightgray;
}

.checkbox-label:after {
  content: attr(data-off);
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: -35px;
  padding: 5px;
  height: 100%;
  width: 30px;
  text-align: right;
  color: white;
  white-space: nowrap;
  
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  outline: none;
  font-family: Lato;
}

.ios-toggle:checked + .checkbox-label {
  -webkit-box-shadow: inset 0 0 0 20px rgba(237, 245, 237, 1),
    0 0 0 2px rgb(10, 10, 10);
  -moz-box-shadow: inset 0 0 0 20px rgb(245, 241, 241),
    0 0 0 2px rgba(237, 245, 237);
  box-shadow: inset 0 0 0 20px rgba(237, 245, 237, 1),
    0 0 0 2px rgb(12, 12, 12);
}

.ios-toggle:checked + .checkbox-label:before {
  left: calc(100% - 20px);
  -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
}

.ios-toggle:checked + .checkbox-label:after {
  content: attr(data-on);
  left: 40px;
  width: 36px;
}

#checkbox1 + .checkbox-label {
  -webkit-box-shadow: inset 0 0 0 0px rgba(222, 228, 222, 1), 0 0 0 2px darkgray;
  -moz-box-shadow: inset 0 0 0 0px rgba(237, 245, 237, 1), 0 0 0 2px darkgray;
  box-shadow: inset 0 0 0 0px rgba(237, 245, 237, 1), 0 0 0 2px darkgray;
}

#checkbox1:checked + .checkbox-label {
  -webkit-box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 1), 0 0 0 2px lightgray;
  -moz-box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 1), 0 0 0 2px lightgray;
  box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 1), 0 0 0 2px lightgray;
}

#checkbox1:checked + .checkbox-label:after {
  color: rgb(250, 248, 248);
}

#header {
  background: url(../img/texture.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  height: 800px;
  

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header h1 {
  font-family: Raleway;
  margin-top: 50px;
  color: white;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 6px;
}

#header h3 {
  font-family: Raleway;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
}

#header p {
  font-family:Raleway;
  color: rgb(249, 249, 252);
  font-size: 1.2em;
}

img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}


strong:hover {
  color: #dd7a09f1;
}

ul li {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  list-style: none;
}

.content input {
  width: 180px;
  border: 0;
  border-bottom: 4px solid gray;
  border-radius: 10px;
  height: 35px;
  margin: 0px 0px 5px 0px;
  padding: 5px;
  text-align: center;
  color: #2d2d2d;
}

.content input:focus,
.content input:hover {
  outline: none;
  border-bottom: 4px solid rgb(8, 168, 48);
}

.content textarea {
  border: 0;
  border-bottom: 5px solid gray;
  border-radius: 10px;
  width: 300px;
  height: 70px;
  margin: 10px 10px;
  padding: 5px;
  resize: none;
  text-align: center;
  color: #2d2d2d;
}
.content textarea:focus,
.content textarea:hover {
  outline: none;
  border-bottom: 5px solid rgb(8, 168, 48);
}

 .col-lg-12 button {
  width: 160px;
  height: 60px;
  border-radius: 10px;
  outline: none;
}

#footer {
  background: #2d2d2d;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
#footer h3,
h5 {
  font-family: Muli;
  color: white;  
}

#footer i {
  color: rgb(192, 183, 183);
  font-size: 30px;
  padding: 20px;
}
#footer i:hover {
  color: #f85c37;
}
