:root {
    --max-width: 800px;
    --nav-height: 60px;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0 30px;
    
    background-size: 100% 1000px;
  }
  
  nav ul {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav ul li {
    text-align: center;
    padding: 0 15px;
  }
  
  nav ul li a {
    display: block;
    width: 100%;
    height: var(--nav-height);
    line-height: var(--nav-height);
    text-decoration: none;
    font-size: 1.5em;
    color: black;
  }
  nav ul li a:hover {
    transform: scale(1.4);
    transition: 1.5s;
    color: crimson;
  }
  
  header {
    max-width: var(--max-width);
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    color: black;

  }
  section#content {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 20px 20px;
    background-color:  white;
    border-style: groove;
    border-radius: 20px;
  }
  .underline {
    text-decoration: underline;
    color: crimson;
  }
  #contacts {
    margin-bottom: 5px;
    border: hidden;
    
    
  }